---
layout: default
---
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-2">
        <img id="profile-photo" src="static/foto.jpg" style="">
        <section id="skills">
          {% for skill in site.data.skills %}
          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: {{ skill.level }}%;" aria-valuenow="{{ skill.level }}" aria-valuemin="0" aria-valuemax="100">{{ skill.name }}</div>
          </div>
          {% endfor %}
        </section>
      </div>
      <div class="col-10">
        <h1 class="display-3">Rocio Aramberri</h1>
        <hr class="my-4">
        <p>Self-taught Software Developer with <strong>5 years</strong> of experience developing in <strong>Python</strong> (libraries: Django, Django Rest Framework, Celery, Flask, Scrapy). Enjoy learning new skills and working on challenging projects.
        </p>
        <section id="experience">
          <h2>Experience</h2>
          <hr>
          {% for experience in site.data.experience %}
          <div class="row">
            <div class="col-3">
              <h5>{{experience.period}}</h5>
            </div>
            <div class="col-9">
              <h4>{{experience.title}}</h4>
            <a href="{{experience.company_url}}">{{experience.company}}</a>
            <p>{{experience.description}}</p>
            </div>
          </div>
          {% endfor %}
        </section>
      </div>
    </div>
  </div>
</div>


