---
layout: default
active: home
permalink: /
---
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-3">
        <img class="img-fluid" id="profile-photo" src="static/photo.jpg">
        <div class="text-center">
          <a href="https://github.com/rocioar" target="_blank"><img class="img-fluid" src="static/github_mark_32px.png"></a>
          <a href="https://twitter.com/roschegel" target="_blank"><img class="img-fluid" src="static/twitter_mark_32px.png"></a>
        </div>
        <section id="skills">
          {% for skill in site.data.skills %}
          <div class="progress">
            <div class="progress-bar bg-sucess" role="progressbar" style="width: {{ skill.level }}%; height: 18px;" aria-valuenow="{{ skill.level }}" aria-valuemin="0" aria-valuemax="100">{{ skill.name }}</div>
          </div>
          {% endfor %}
        </section>
      </div>
      <div class="col-9">
        <h1 class="display-4">Rocio Aramberri</h1>
        <hr class="my-4">
        <p>I'm a self-taught Software Developer with <strong>5 years</strong> of experience developing in <strong>Python</strong>. I enjoy learning new skills and working on challenging projects.
        </p>
        <section id="experience">
          <h2>Experience</h2>
          <hr>
          {% for experience in site.data.experience %}
          <dl class="row">
            <dt class="col-sm-3">
              <h5>{{experience.period}}</h5>
            </dt>
            <dd class="col-sm-9">
              <h4>{{experience.title}}</h4>
              <a href="{{experience.company_url}}">{{experience.company}}</a>
              <p>{{experience.description}}</p>
            </dd>
          </dl>
          {% endfor %}
        </section>
        <section id="courses">
          <h2>Courses</h2>
          <hr>
          <ul>
          {% for course in site.data.courses %}
            <li>{{ course.title }} by {{ course.by }} {% if course.certificate %}(<a href="{{ course.certificate }}">certificate</a>){% endif %} </li>
          {% endfor %}
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>


