.container {
    margin: auto;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.post {
    margin: 0;
    padding: 0;
}

.code-toolbar {
    --accent: orange;
}

.social-links {
    display: flex;
    font-size: 20px;
    color: #d9d9d9;
}

.social-links a {
    padding-left: 5px;
}
