.container {
    margin: auto;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.post {
    margin: 0;
    padding: 0;
}

.code-toolbar {
    --accent: orange;
}