body {
    background-color: #30628e;
}

div.container {
    margin-top: 10px;
}

div.jumbotron {
    border: solid #666;
    border-width: 8px 0 2px 0;
    box-shadow: 0 1px 3px #000;
}

div.progress {
    margin-top:1rem;
    background-color:#d4d9dd
}

img#profile-photo {
    border-radius: 25px;
    padding: 10px;
}
